@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 11 16 24;
  --card: 19 26 40;
  --muted: 148 163 184;
}

html, body, #root {
  height: 100%;
}

body {
  background-color: rgb(var(--bg));
  color: white;
}

.container-responsive {
  @apply mx-auto max-w-7xl px-3 sm:px-4 md:px-6;
}
